<%= sidebar_section("account", workspace_header) do %>
  <ul class="nav-list">
    <% if current_user %>
      <li><a href="https://eshelf.library.nyu.edu?institution=<%= current_primary_institution.code unless current_primary_institution.nil? %>">My e-shelf</a></li>
      <li><a href="https://eshelf.library.nyu.edu/account?institution=<%= current_primary_institution.code unless current_primary_institution.nil? %>">My library account</a></li>
      <li><%= link_to "Log-out #{current_user.firstname}", logout_url, :class=>"logout" %></li>
    <% else %>
      <li><a href="https://eshelf.library.nyu.edu?institution=<%= current_primary_institution.code unless current_primary_institution.nil? %>">Guest e-shelf (log in for more options)</a></li>
    <% end %>
  </ul>
<% end %>
<%= render :partial => "#{current_primary_institution.views["dir"]}/sidebar" unless current_primary_institution.nil? %>
